$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);

$spacing-unit: 8px;

@import "mq";
@import "./hackerNewsItems.scss";
@import "./topHackerNewsItems.scss";

body {
  background: white;
  color: black;
  text-align: center;
}
