.hacker-news-item__container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hacker-news-item__spinner {
    justify-content: center;
    width: 100%;
    margin: $spacing-unit * 3;
}

.hacker-news-item__details {
    text-align: left;
}

.hacker-news-item__description {
    margin-right: $spacing-unit * 4;
}

.hacker-news-item__comment-btn {
    margin-left: $spacing-unit * 3;
}