.top-hacker-news-items__container {
    padding-top: $spacing-unit * 5;
}

.top-hacker-news-items__more-btn-container {
    justify-content: center;
    margin: $spacing-unit * 3;
}

.top-hacker-news-items__spinner {
    justify-content: center;
    margin-top: $spacing-unit * 55;
}